@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo à Pizzaria Bella</title>
    <link href="~/css/style.css"/>
</head>
<body>
    <div class="container">
        <h1>Bem-vindo à Pizzaria Bella</h1>
        <p class="intro">Somos apaixonados por fazer as melhores pizzas artesanais da cidade! Explore nosso menu e descubra sabores únicos que irão satisfazer seu paladar.</p>

        <!-- Imagem clicável para redirecionamento -->
        <a href="Pizza/">
            <img src="~/img/pizzaMenu.jpg" alt="Nossas Pizzas" class="pizza-image">
        </a>

        <p>Clique na imagem para conhecer nosso menu de pizzas deliciosas!</p>
    </div>
</body>
</html>